<?xml version="1.0" encoding="utf-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>

<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>

<script type="text/javascript" src="/sf/sf_web_debug/main.js"></script> 
<script type="text/javascript" src="/javascripts/jquery.js"></script> 
<script type="text/javascript" src="/javascripts/thickbox.js"></script> 
<link rel="stylesheet" type="text/css" media="screen" href="/sf/sf_web_debug/css/main.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/thickbox.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/sf/sf_admin/css/main.css" /> 

</head>

<body>

<%= yield %>

</body>
</html>
